{
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@api/(.*)$",
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@core/(.*)$",
    "^@functions/(.*)$",
    "^@hooks/(.*)$",
    "^@layouts/(.*)$",
    "^@pages/(.*)$",
    "^@providers/(.*)$",
    "^@styles/(.*)$",
    "^[./]",
    "^@fontsource/(.*)$",
    ".css"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
