/* Import Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Color Styles  */
:root {
  --black-100: #000000ff;
  --black-80: #000000cc;
  --black-60: #00000099;
  --black-50: #00000080;
  --black-40: #00000066;
  --black-10: #0000001a;
  --black-5: #0000000d;
  --button-volume-default-background-fill: linear-gradient(
    90deg,
    0% rgba(233, 233, 233, 1),
    0.009999999747378752% rgba(233, 233, 233, 1),
    100% rgba(255, 255, 255, 1)
  );
  --button-volume-default-stroke: linear-gradient(90deg, 0% rgba(255, 255, 255, 1), 100% rgba(236, 236, 236, 1));
  --button-volume-default-fill: linear-gradient(90deg, 0% rgba(244, 244, 244, 1), 100% rgba(254, 254, 254, 1));
  --button-volume-active-fill: linear-gradient(90deg, 0% rgba(234, 234, 234, 1), 100% rgba(244, 244, 244, 1));
  --button-volume-active-stroke: linear-gradient(90deg, 0% rgba(250, 250, 250, 1), 100% rgba(219, 219, 219, 1));
  --product-100: #4195d2ff;
  --product-20: #4195d21a;
  --default-br: #0975a6ff;
  --default-white: #ffffffff;
  --color-green-100: #34a853ff;
  --color-green-10: #34a8531a;
  --color-red-100: #ff4141ff;
  --color-red-10: #ff41411a;
  --gray-f2f2f7: #f2f2f7ff;
  --gray-e5e5ea: #e5e5eaff;
  --gray-c7c7cc: #c7c7ccff;
  --gray-d1d1d6: #d1d1d6ff;
  --gray-484848: #484848ff;
  --gray-737373: #737373ff;
  --calendar-linear-right: linear-gradient(
    90deg,
    0% rgba(65, 149, 210, 0.1),
    50% rgba(65, 149, 210, 0.1),
    50.01000165939331% rgba(255, 255, 255, 1)
  );
  --google-34a853: #34a853ff;
  --google-4285f4: #4285f4ff;
  --google-fbbc04: #fbbc04ff;
  --google-ea4335: #ea4335ff;
  --gradient-autorization: radial-gradient(
    50% 50% at 50% 50%,
    0% rgba(0, 122, 255, 1),
    49.374961853027344% rgba(49, 46, 203, 1),
    100% rgba(231, 23, 172, 1)
  );
}

/* Effect Styles  */
.input-default {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.button-volume-active-effects {
  box-shadow: 0px 0px 0.800000011920929px 0.6000000238418579px rgba(0, 0, 0, 0.25);
}

.button-volume-default-effects {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.default-playstation {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
